# Python
__pycache__/
*.py[cod]
*.so
.Python

# Virtual environments
venv/
env/
ENV/
my_venv/

# IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Data files (будет игнорировать временные данные)
tmp_data.txt
*.tmp

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Logs
*.log
.env
